[submodule "tools/cheribuild"]
	path = tools/cheribuild
	url = git@github.com:RTBSD/cheribuild.git
	branch = firefly
[submodule "upstream/freebsd"]
	path = upstream/freebsd
	url = git@github.com:RTBSD/freebsd-src.git
	branch = firefly
[submodule "upstream/netbsd"]
	path = upstream/netbsd
	url = git@github.com:RTBSD/NetBSD-src.git
	branch = firefly
[submodule "libbsd"]
	path = libbsd
	url = git@github.com:RTBSD/LibBSD.git
	branch = main
[submodule "rtos/rtems-space/rtems"]
	path = rtos/rtems-space/rtems
	url = git@github.com:RTBSD/rtems.git
	branch = 6
[submodule "rtos/rtems-space/rtems-libbsd"]
	path = rtos/rtems-space/rtems-libbsd
	url = git@github.com:RTBSD/rtems-libbsd.git
	branch = 6-freebsd-14
